body {
    background-color: #325fa8;
}

h1 {
    color: blue;
    font-size: 40px;
    font-family: Arial;
}

p {
    color: red;
}

div {
    border: 1px black solid; 
}

.pie-de-pagina {
    border: 1px green solid; 
    background-color: yellow;
    color: orange;
}

.secciones {
    background-color: purple;
    font-size: 80px;
    width: 300px;
    height: 200px;
}

#seccion1 {
    font-size: 40px;
    color: green;
}

#seccion2 {
    font-size: 20px;
    color: orange;
}
