@model List<QuieroPizza.BL.Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Quiero Pizza</h2>

<ul>
    @foreach (var producto in Model)
    {
        <li>@producto.Descripcion</li>
    }
</ul>


<table class="table table-hover">
    @foreach (var producto in Model)
    {
        <tr>
            <td>@producto.Id</td>
            <td>@producto.Descripcion</td>
        </tr>
    }
</table>





















