<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Estilos.css" rel="stylesheet" />
    <title>Admin</title>
</head>
<body>
    <h1>Bienvenidos a QuieroPizza</h1>
    <p>Este es un sitio para ordenar pizzas en linea</p>
    <div> 
        @RenderBody()
    </div>

    <div id="seccion1" class="secciones">
        Seccion 1
    </div>
    <div id="seccion2" class="secciones">
        Seccion 2
    </div>

    <div class="pie-de-pagina">
        Derechos reservados 2019
    </div>
</body>
</html>
